<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.home.board.qna.QnaMapper">
	<sql id="search">
		WHERE
			<choose>
				<when test="kind == 'title'">TITLE</when>
				<when test="kind == 'writer'">WRITER</when>
				<otherwise>CONTENTS</otherwise>
			</choose>
			LIKE CONCAT('%',#{search},'%')
			ORDER BY NUM DESC
	</sql>
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA
		<include refid="search"></include>
		LIMIT #{startRow},#{perPage}
	</select>
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		<include refid="search"></include>
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA(NUM, TITLE, WRITER, CONTENTS, REGDATE, HIT, REF, DEPTH, STEP)
		VALUES(null, #{title},#{writer},#{contents},sysdate(), 0, 0, 0 ,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILE(NUM,FILENUM,FILENAME,ORINAME)
		VALUES(#{num},null,#{fileName},#{oriName})
	</insert>
	
</mapper>