<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.home.board.qna.QnaMapper">
	<sql id="search">
		WHERE
			<choose>
				<when test="kind == 'title'">TITLE</when>
				<when test="kind == 'writer'">WRITER</when>
				<otherwise>CONTENTS</otherwise>
			</choose>
			LIKE CONCAT('%',#{search},'%')
			ORDER BY NUM DESC
	</sql>
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA
		<include refid="search"></include>
		LIMIT #{startRow},#{perPage}
	</select>
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		<include refid="search"></include>
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA(NUM, TITLE, WRITER, CONTENTS, REGDATE, HIT, REF, DEPTH, STEP)
		VALUES(null, #{title},#{writer},#{contents},sysdate(), 0, 0, 0 ,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILE(NUM,FILENUM,FILENAME,ORINAME)
		VALUES(#{num},null,#{fileName},#{oriName})
	</insert>
	
	<select id="getDetail" parameterType="QnaVO" resultMap="getQnaDetail">
		SELECT Q.*, QF.FILENUM, QF.FILENAME, QF.ORINAME
		FROM QNA Q
		LEFT JOIN QNAFILE QF ON Q.NUM = QF.NUM
		WHERE Q.NUM = #{num} 
	</select>
	<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
		SELECT * FROM QNAFILE WHERE FILENUM = #{fileNum}
	</select>
	
	<resultMap type="QnaVO" id="getQnaDetail">
		<id column="NUM" property="num"></id>
		<result column="TITLE" property="title"/>
		<result column="WRITER" property="writer"/>
		<result column="CONTENTS" property="contents"/>
		<result column="REGDATE" property="regDate"/>
		<result column="HIT" property="hit"/>
		<result column="REF" property="ref"/>
		<result column="DEPTH" property="depth"/>
		<result column="STEP" property="step"/>
		
		<collection property="qnaFileVOs" javaType="List" ofType="QnaFileVO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
</mapper>